.landing-wrapper {
  /* width: 100vw;
  background-color: white;
  margin: 0;
  padding: 0; */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(110deg, rgb(136, 147, 180), rgb(154, 97, 167));
  padding: 30px 0;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.css-6qh47t {
  position: absolute;
}

.landing-nav-bar {
  /* width: 100vw;
  height: 65px;
  display: flex;
  border: 1px solid black; */
  width: 100%;
  height: 100px;
  border-radius: 15px 15px 0 0;
  border-bottom: rgb(204, 204, 204) solid 4px;
  display: flex;
  padding-bottom: 30px;
}

.landing-nav-bar-icon {
  font-size: 25px;
  width: 188px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  margin-left: 20px;
}

.landing-nav-bar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.landing-nav-bar-nav-links {
  padding-left: 20px;
}

.landing-nav-bar-nav-links > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-right: 30px;
}

.landing-nav-bar-log-buttons > a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  margin-left: 10px;
  padding: 11px 28px;
  border: 1px solid black;
  border-radius: 25px;
  font-weight: bold;
}

.landing-button {
  font-size: 18px;
  text-decoration: none;
  padding: 11px 28px;
  border: 1px solid black;
  border-radius: 25px;
  font-weight: bold;
  background-color: black;
  color: white;
  /* width: 68px; */
  text-align: center;
}

.landing-nav-bar-log-buttons > a:nth-child(2) {
  background-color: black;
  color: white;
}

.landing-content-box-1 {
  /* height: 653px; */
  height: 80%;
  /* width: 80%; */
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(195, 245, 60); */
  background-color: white;
  /* border-bottom: 1px solid black; */
  /* border: 2px solid black; */
  border-radius: 20px;
}

.landing-content-box-1-textbox {
  width: 492px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;

}

.landing-content-box-1-textbox > h1 {
  font-size: 45px;
  margin: 0 0 10px 0;
  font-weight: bold;
}

.landing-content-box-1-textbox > p {
  font-size: 25px;
  line-height: 35px;
}

.landing-content-box-1-animationbox {
  margin: 25px 0 0 10px;
  /* align-self: center; */
  /* justify-content: center; */
  /* margin: 50px; */
  width: 696px;
  height: 100%;
}

.landing-content-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 92px;
  border-bottom: 1px solid black;
}

.landing-content-box-3 {
  width: 100vw;
  height: 691px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: rgb(240, 235, 230);
}

.landing-content-box-3-textbox {
  width: 595px;
}

.box-3-textbox-bullet-box {
  display: flex;
  margin-bottom: 40px;
}

.landing-content-box-3-imgbox {
  position: relative;
  top: -30px;
}

.landing-content-box-3-textbox > p:nth-child(2) {
  margin: 0 0 50px 0;
  font-size: 19px;
  line-height: 30px;
}

.box-3-textbox-bullet {
  margin-left: 15px;
  font-size: 17px;
}

.box-3-textbox-bullet > p:first-child {
  margin: 0 0 10px 0;
  font-weight: bolder;
}

.box-3-textbox-bullet > p:nth-child(2) {
  margin: 0 0 10px 0;
}

.box-3-link {
  margin-top: 80px;
  font-size: 22px;
  color: grey;
}

.landing-content-box-4 {
  /* background-color: rgb(240, 235, 230); */
  width: 95vw;
  height: 627px;
  padding: 84px 0px 60px;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px black;
  /* height: 80%; */

  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: white; */
  border-radius: 20px;
  /* background-color: rgb(240, 235, 230); */
  background-color: white;
  /* background: linear-gradient(110deg, rgb(136, 147, 180), rgb(154, 97, 167)); */
}

.landing-content-box-4-textbox {
  width: 467px;
  height: 585px;
}

.box-4-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(110deg, rgb(136, 147, 180), rgb(154, 97, 167))
  /* background: linear-gradient(110deg, rgb(136, 147, 180), rgb(154, 97, 167)); */
}

.btn {
  font-size: 14px;
  text-decoration: none;
  padding: 8px 28px;
  border: 1px solid black;
  border-radius: 25px;
  font-weight: bold;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  /* width: 68px; */
  text-align: center;
  margin: 5px;
}

/* .box-4-image {
} */
