/* TODO Add site wide styles */
body {
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #060c21; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff; 
    box-shadow: 0 0 10px rgb(237, 246, 255) , 0 0 30px rgb(195, 225, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 108, 143);
  }