.stock-details-content {
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
}

.stock-details-box1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin-top: 26%;
}

.about-box {
  width: 50vw;
  padding: 20px;
  margin: 20px;
  height: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 10px grey;
}

.stockDetailContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 5px;
  margin: 20px;
  height: 10vh;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 10px grey;
}

.graph-container {
  display: flex;
  justify-content: space-around;
}

.stock-graph {
  width: 90%;
  padding: 20px;
  margin: 20px;
  height: 250px;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 10px grey;
}

.transactions-form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: 20px;
  padding: 20px;
  height: 250px;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 3px 10px grey;
  justify-content: space-between;
  text-align: center;
}

.transaction-form-input {
  margin: 0px;
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.3s;
  outline: none;
}

.transaction-form-input:focus {
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  cursor: text;
}
.transaction-form-input:hover {
  cursor: pointer;
}

.transactions-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactions-btns > button {
  margin: 1px;
  font-size: 12px;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid black;
  font-weight: bold;
  transition: all 1s;
}
.transactions-btns > button:focus {
  background-color: lavender;
  color: black;
}

.ticker-header {
  text-align: center;
}

.market-price-header {
  text-align: center;
}

.company-name-header {
  text-align: center;
}

.equity-header {
  text-align: center;
}

.order-btn {
  font-size: 12px;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 25px;
  font-weight: bold;
  position: relative;
  top: 0;
}

.form-text {
  margin: 10px;
}

.form-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stockInfoBox {
  text-overflow: clip;
  overflow-y: scroll;
  height: 105px;
}
.stockInfoBox::-webkit-scrollbar-track {
  border-radius: 25px;
}

.stockInfoBox::-webkit-scrollbar-thumb {
  border-radius: 25px;
}
.errors {
  text-align: center;
  color: red;
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stock-wallet {
  background: linear-gradient(230deg, rgb(255, 207, 96), rgb(238, 123, 71));
  width: 300px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px 7px grey;
}

.stock-percentage {
  background: linear-gradient(230deg, rgb(131, 200, 223), rgb(83, 130, 184));
  width: 300px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px 7px grey;
  margin-left: 2%;
}
.stock-asset {
  background: linear-gradient(230deg, rgb(157, 208, 190), rgb(39, 145, 108));
  width: 300px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px 7px grey;
  margin-left: 2%;
}

.watchlist-button {
  border-radius: 15px;
  height: 25px;
  background-color: black;
  color: white;
  position: relative;
  right: 80px;
  top: 440px;
  padding: 5px 10px;
  font-weight: bold;
}

.p-container > button {
  border: 1px solid black;
  border-radius: 15px;
  background-color: black;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  width: 90px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.p-container > .selected {
  background-color: lavender;
  color: black;
}


.stockDetailContainer > div > h2 {
  color: rgb(25, 25, 124);
}