.my-transactions-wrapper {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    padding: 30px;
    height: 440px;
    /* overflow-y: scroll; */
    box-shadow: 3px 3px 10px grey;
}

.my-transactions-wrapper > h2 {
    /* margin: 50px; */
    /* padding-top: 80px; */
    letter-spacing: 1px;
}

.my-transaction-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    width: 650px;
    padding: 0px 30px;
}

.my-transaction-details-btn {
    border: 2px solid black;
    background-color: black;
    border-radius: 50px;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    width: 160px;
    
}

.my-transaction-info {
    overflow-y: scroll;
    padding: 30px;
    font-size: 18px;
    width: 700px;
}

.my-transaction-items {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.my-transaction-items > div {
    padding: 0 10px;
}

#my-transaction-top-items {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 20px 0px;
    /* border: 2px purple solid; */
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    border: none;
    background: linear-gradient(190deg, rgb(255, 255, 255), rgb(241, 241, 241))
}

.expand-triangle {
    margin-left: 10px;
    margin-right: 10px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(129, 80, 175);
    border-radius: 3px;
}

.expand-triangle:hover {
    cursor: pointer;
    border-top: 20px solid rgb(55, 182, 133);
}

#my-transaction-bottom-items {
    padding: 10px 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.my-transaction-items-1 {
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.my-transaction-toggle {
    display: flex;
}

.my-transaction-items-2 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding-right: 20px;
    align-items: center;
}

.blank {
    border-bottom: 2px solid black;
}

#green {
    color:rgb(29, 167, 29)
}

#red {
    color: red;
}
