.stocks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    overflow-y: auto;
}

.stock-box {
    height : 75px;
    width: 300px;
    background: linear-gradient(230deg, rgb(255, 255, 255), rgb(241, 241, 241));
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px grey;
    display: flex;
    flex-direction: column;
}

/* .stock-box:nth-child(odd) {
    background: linear-gradient(230deg, rgb(251, 244, 253), rgb(247, 223, 250));
}

.stock-box:nth-child(even) {
    background: linear-gradient(230deg, #f7fbfd, rgb(211, 237, 247));
} */


.stock-box:first-child {
    margin-top: 25px;
}
.stock-box > div:first-child {
    display: flex;
    justify-content: space-between;
}

.stock-ticker {
    margin: 10px 0 0 0;
    font-size: 18px;
}

.stock-price {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: rgb(94, 94, 94);
}

.stock-lname {
    margin: 0;
    padding-top:15px;
    color: grey;
    font-size: 13px;
}

.stock-box > div:nth-child(2) {
    display: flex;
    justify-content: flex-end
}

.watch-list-title {
    margin: 18px 0 0 38px;
}